
{% for domain in domains %}
<form hx-post="{{url_for('search_site_and_block_view')}}" hx-target="#search" hx-indicator="#block-site-spinner">
<div class="d-flex align-items-center border-bottom py-2">
    <input class="form-check-input m-0" type="checkbox">
    <div class="w-100 ms-3">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <span>Search Results</span>
            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
        </div>
    </div>
</div>

</div>

</form>
{% endfor %}