

{% for domain in domains %}
                                <tr>
                                    <td>{{n}}</td>
                                    <td>{{domain}}</td>
                                    <td>{{domain}}</td>
                                    <td><a href="https://{{domain}}" target="_blank" rel="noopener noreferrer">Visit</a></td>
                                    <td><a href="{{domain}}">Block <i class="fa fa-times"></i></a></td>


                                    
                                </tr>

{% endfor %}