{% extends 'base.html' %}

{% block content %}

<style>

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1;
    }
    .htmx-request.htmx-indicator{
        opacity:1;
    }

</style>
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">

                                <h6># Blocked Sites</h6>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">


                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


       


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">

                      <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Blocked Sites</h6>
                                
                        </div>

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0"></h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">

                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Ip</th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                              
                              
                            </div>

                            <div class="htmx-indicator" id="block-site-spinner" style="color:green;">

                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>

                            </div>

                            <div id="success-failed"></div>

                            <form hx-post="{{url_for('block_selected_site_view')}}" hx-target="#success-failed" hx-indicator="#block-site-spinner">
                                <div class="form-group">
                                    <label for="">Website address (www.example.com)</label>
                                    <input type="text" class="form-control" name="website" id="website" aria-describedby="emailHelp" placeholder="Enter site address" required>
                                    
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="days">Days To Block</label>
                                    <select class="form-select" aria-label="Default select example" name="days[]" id="days" multiple size ="7">
                                          
                                                        <option value="monday">Monday</option>
                                                        <option value="tuesday">Tuesday</option>
                                                        <option value="wednesday">Wednesday</option>
                                                        <option value="thursday">Thursday</option>
                                                        <option value="friday">Friday</option>
                                                        <option value="saturday">Saturday</option>
                                                        <option value="sunday">Sunday</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="hours">Hours To Block</label>
                                    <input type="time" class="form-control" id="time" name="time" value="12:00" min="00:00" max="23:59">

                                   
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="justblock">
                                    <label class="form-check-label" for="exampleCheck1">Just Block</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                           
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Search & Block</h6>
                                
                            </div>
                        
                            <div class="d-flex mb-2">
                                <input class="form-control bg-dark border-0" name="site_key_word" type="text" placeholder="Enter task" hx-post="{{url_for('search_site_and_block_view')}}" hx-trigger="keyup changed delay:9000ms" hx-indicator="#search-site-spinner" hx-target="#search-result">
                                
                            </div>

                            <div class="htmx-indicator" id="search-site-spinner" style="color:green;">

                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>

                            </div>

                            <div id="search-result">
                        

                            </div>

                      
                           
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Unblock Site</h6>
                                
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="">Website address (www.example.com)</label>
                                    <input type="text" class="form-control" id="website2"placeholder="Enter site address">
                                    
                                </div>

                                <button type="submit" class="btn btn-success">Remove</button>

                            </form>
                            
                            
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->
           
         
{% endblock content %}

